<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>PermanentMarker-Regular.ttf</string>
		<string>Bangers-Regular.ttf</string>
		<string>RampartOne-Regular.ttf</string>
		<string>RubikWetPaint-Regular.ttf</string>
		<string>TrainOne-Regular.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Advanced LED Board-7.ttf</string>
		<string>Blackcraft.ttf</string>
		<string>PixelifySans-Regular.ttf</string>
		<string>LED Dot-Matrix.ttf</string>
		<string>Bazaronite.ttf</string>
		<string>Handjet-VariableFont_ELGR,ELSH,wght.ttf</string>
		<string>Marske.ttf</string>
		<string>pixhobo.ttf</string>
		<string>LEPKA.otf</string>
		<string>Baymax.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
