<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PermanentMarker-Regular.ttf</string>
		<string>Bangers-Regular.ttf</string>
		<string>PressStart2P-Regular.ttf</string>
		<string>LibreBarcode39-Regular.ttf</string>
		<string>SF-Pro-Rounded-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
